LISTEN_ADDRESS=127.0.0.1:8080

DATABASE_URL=
DATABASE_MAX_CONNECTIONS=

DISCORD_TOKEN=
DISCORD_APPLICATION_ID=
DISCORD_PUBLIC_KEY=

CONFESSIONS_TOKEN=
CONFESSIONS_GUILD_ID=
CONFESSIONS_CHANNEL_ID=
CONFESSIONS_ROLE_ID=
CONFESSIONS_SUBMISSION_URL=
